<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ControlzEx" version="4.0.0-alpha0210" targetFramework="net461" />
  <package id="Costura.Fody" version="3.2.0" targetFramework="net461" />
  <package id="Fody" version="3.3.2" targetFramework="net461" developmentDependency="true" />
  <package id="MahApps.Metro" version="2.0.0-alpha0121" targetFramework="net461" />
</packages>